/* GENERIC BUTTON */

button {
    all: unset;
    border-radius: 1000px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

button > .state {
    border-radius: 1000px;
    height: 40px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
}

button:disabled {
    opacity: 0.12;
}

button > .state > svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* FILLED BUTTON */

button.filled {
    background-color: rgb(var(--md-sys-color-primary));
    color: rgb(var(--md-sys-color-on-primary));
}

button.filled:hover > .state, button.filled:focus-visible > .state {
    background-color: rgba(var(--md-sys-color-on-primary), 0.08);
}

button.filled:active > .state {
    background-color: rgba(var(--md-sys-color-on-primary), 0.12);
}

/* TEXT BUTTON */

button.text {
    background-color: transparent;
    color: inherit;
}

button.text:hover > .state, button.text:focus-visible > .state {
    background-color: rgba(var(--md-sys-color-primary), 0.08);
    color: rgb(var(--md-sys-color-primary));
}

button.text:active > .state {
    background-color: rgba(var(--md-sys-color-primary), 0.12);
    color: rgb(var(--md-sys-color-primary));
}

/* TONAL BUTTON */

button.tonal {
    background-color: rgb(var(--md-sys-color-secondary-container));
    color: rgb(var(--md-sys-color-on-secondary-container));
}

button.tonal:hover > .state, button.tonal:focus-visible > .state {
    background-color: rgba(var(--md-sys-color-on-secondary-container), 0.08);
}

button.tonal:active > .state {
    background-color: rgba(var(--md-sys-color-on-secondary-container), 0.12);
}

/* OUTLINED BUTTON */

button.outlined {
    background-color: transparent;
    color: rgb(var(--md-sys-color-primary));
    border: 1px solid rgb(var(--md-sys-color-outline));
}

button.outlined:hover > .state, button.outlined:focus-visible > .state {
    background-color: rgba(var(--md-sys-color-primary), 0.08);
}

button.outlined:active > .state {
    background-color: rgba(var(--md-sys-color-primary), 0.12);
}

/* TEXT INPUT */

input::placeholder {
    color: rgb(var(--md-sys-color-on-surface-variant));
    transition: color 0.2s ease;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* height: 48px; */
}

.input-container > .label-text, .outlined-input-container > .label-text {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: rgb(var(--md-sys-color-on-surface-variant));
    transition: top 0.2s ease, opacity 0.2s ease;
}

.input-container > input:placeholder-shown+.label-text, .outlined-input-container > input:placeholder-shown:not(:focus-visible)+.label-text {
    opacity: 0;
    top: 24px;
}
.input-container > input {
    all: unset;
    box-sizing: border-box;
    padding: 24px 4px 8px 17px;
    background-color: rgb(var(--md-sys-color-surface-container-highest));
    color: rgb(var(--md-sys-color-on-surface));
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-bottom: 1px solid rgb(var(--md-sys-color-outline));
    transition: border-bottom 0.2s ease;
    transition: padding 0.2s ease;
}

.input-container > input:placeholder-shown {
    padding: 16px 4px 16px 17px;
}

.input-container > input:focus-visible {
    outline: none;
    border-bottom: 2px solid rgb(var(--md-sys-color-primary));
}

/* OUTLINED TEXT INPUT */

.outlined-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* height: 48px; */
}

.outlined-input-container > input {
    all: unset;
    box-sizing: border-box;
    padding: 16px 4px 16px 17px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgb(var(--md-sys-color-on-surface));
    border-radius: 4px 4px 0 0;
    border: 1px solid rgb(var(--md-sys-color-outline));
    transition: border 0.2s ease;
    transition: padding 0.2s ease;
}

.outlined-input-container > .label-text, .outlined-input-container > input:focus-visible+.label-text {
    position: absolute;
    background-color: rgb(var(--md-sys-color-background));
    padding: 2px 4px;
    top: -12px;
}

.outlined-input-container > input:focus-visible {
    outline: none;
    border: 2px solid rgb(var(--md-sys-color-on-surface));
}

.outlined-input-container > input:focus-visible::placeholder {
    color: transparent;
}


/* SWITCH */

.switch-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 52px;
    height: 32px;
    border: 2px solid rgb(var(--md-sys-color-outline));
    border-radius: 1000px;
    background-color: rgb(var(--md-sys-color-surface-container));
}

.switch-container > input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-container > .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1000px;
    transition: background-color 0.2s ease;
    transition: left 0.2s ease;

}

.switch-container > .switch-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 6px;
    background-color: rgb(var(--md-sys-color-outline));
    border-radius: 1000px;
    transition: background-color 0.2s ease;
    transition: left 0.2s ease, border 0.2s ease, bottom 0.2s ease, height 0.2s ease, width 0.2s ease;
}

.switch-container > input:checked+.switch-slider::before {
    left: 24px;
    bottom: 4px;
    height: 24px;
    width: 24px;
    background-color: rgb(var(--md-sys-color-primary));
}

.switch-container > .switch-slider > svg {
    height: 0px;
    width: 0px;
    left: 0px;
    opacity: 0;
    transition: left 0.2s ease, opacity 0.1s ease;
    color: rgb(var(--md-sys-color-on-primary));
}

.switch-container > input:checked+.switch-slider > svg {
    opacity: 1;
    position: relative;
    left: 26px;
    top: 6px;
    height: 20px;
    width: 20px;
    transition: left 0.2s ease;
}

/* NAVIGATION */

nav {
    display: flex;
    background-color: rgb(var(--md-sys-color-surface-container));
    flex-direction: column;
    width: 80px;
}

nav > a {
    text-decoration: none;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(var(--md-sys-color-on-surface-variant));
    transition: color 0.2s ease;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

nav > a > svg {
    height: 24px;
    width: 24px;
    padding: 4px 0px;
    border-radius: 9999px;
    transition: padding 0.2s ease;
}

nav > a:hover > svg, nav > a:focus-visible > svg {
    background-color: rgba(var(--md-sys-color-primary), 0.08);
    padding: 4px 16px;
}

nav > a:active > svg {
    background-color: rgba(var(--md-sys-color-primary), 0.12);
    padding: 4px 16px;
}

nav > a.active {
    color: rgb(var(--md-sys-color-on-surface));
    font-weight: 700;
}

nav > a.active > svg {
    color: rgb(var(--md-sys-color-on-secondary-container));
    background-color: rgba(var(--md-sys-color-secondary-container));
    padding: 4px 16px;
}

@media screen and (max-width: 700px) {
    nav {
        flex-direction: row;
        width: 100vw;
        height: 80px;
        justify-content: space-evenly;
    }
}