/* GENERIC BUTTON */

button {
    all: unset;
    border-radius: 1000px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

button > .state {
    border-radius: 1000px;
    height: 40px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
}

button:disabled {
    opacity: 0.12;
}

/* FILLED BUTTON */

button.filled {
    background-color: rgb(var(--md-sys-color-primary));
    color: rgb(var(--md-sys-color-on-primary));
}

button.filled:hover > .state {
    background-color: rgba(var(--md-sys-color-on-primary), 0.08);
}

button.filled:active > .state {
    background-color: rgba(var(--md-sys-color-on-primary), 0.12);
}

/* TEXT BUTTON */

button.text {
    background-color: transparent;
    color: inherit;
}

button.text:hover > .state {
    background-color: rgba(var(--md-sys-color-primary), 0.08);
    color: rgb(var(--md-sys-color-primary));
}

button.text:active > .state {
    background-color: rgba(var(--md-sys-color-primary), 0.12);
    color: rgb(var(--md-sys-color-primary));
}

/* TONAL BUTTON */

button.tonal {
    background-color: rgb(var(--md-sys-color-secondary-container));
    color: rgb(var(--md-sys-color-on-secondary-container));
}

button.tonal:hover > .state {
    background-color: rgba(var(--md-sys-color-on-secondary-container), 0.08);
}

button.tonal:active > .state {
    background-color: rgba(var(--md-sys-color-on-secondary-container), 0.12);
}

/* OUTLINED BUTTON */

button.outlined {
    background-color: transparent;
    color: rgb(var(--md-sys-color-primary));
    border: 1px solid rgb(var(--md-sys-color-outline));
}

button.outlined:hover > .state {
    background-color: rgba(var(--md-sys-color-primary), 0.08);
}

button.outlined:active > .state {
    background-color: rgba(var(--md-sys-color-primary), 0.12);
}

/* TEXT INPUT */

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* height: 48px; */
}

.input-container > .supporting-text {
    position: absolute;
    bottom: 0px;
    
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: rgb(var(--md-sys-color-on-surface-variant));
}

.input-container > .label-text {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: rgb(var(--md-sys-color-on-surface-variant));
    transition: top 0.2s ease, opacity 0.2s ease;
}

.input-container > input:placeholder-shown+.label-text{
    opacity: 0;
    /* display: none; */
    top: 24px;
    
}

.input-container > input {
    all: unset;
    box-sizing: border-box;
    padding: 24px 4px 8px 17px;
    background-color: rgb(var(--md-sys-color-surface-container-highest));
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-bottom: 1px solid rgb(var(--md-sys-color-outline));
    transition: border-bottom 0.2s ease;
    transition: padding 0.2s ease;
}

.input-container > input:placeholder-shown {
    padding: 16px 4px 16px 17px;
}

.input-container > input:focus {
    outline: none;
    border-bottom: 2px solid rgb(var(--md-sys-color-primary));
}