@import url('components.css');
@import url('material-tokens.css');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    
}

.app {
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    display: flex;
}

@media screen and (max-width: 700px) {
    .app {
        flex-direction: column-reverse;
    }
    nav {
        flex-direction: row;
    }
}




main {
    flex: 1;
    overflow: auto;
}


h1, h2 {
    font-weight: 400;
}

a {
    color: rgb(var(--md-sys-color-secondary));
}

svg {
    width: 24px;
    height: 24px;
}
/* main {
    height: 100vh;
} */
