.filesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.file {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(var(--md-sys-color-outline-variant));
    border-radius: 0.75rem;
    padding: 0.75rem;
    margin: 0.75rem;
    text-decoration: none;
    color: rgb(var(--md-sys-color-on-surface));
    background-color: rgb(var(--md-sys-color-surface-container));
}

.file:hover {
    background-color: rgb(var(--md-sys-color-surface-variant));
}


.file svg {
    width: 24px;
    margin-right: 8px;
    color: rgb(var(--md-sys-color-teritary));
}

.file a {
    text-decoration: none;
    color: rgb(var(--md-sys-color-on-surface));
}

.file a:hover {
    text-decoration: underline;
}

.details {
    border: 1px solid rgb(var(--md-sys-color-outline-variant));
    background-color: rgb(var(--md-sys-color-surface-container));
    border-radius: 0.75rem;
    padding: 0.75rem;
    margin: 0.75rem 0px;
}

.tagsTable {
    background-color: rgb(var(--md-sys-color-surface-container-high));
    padding: 0.75rem;
    border-collapse: collapse;
}

.tagsTable td, .tagsTable th {
    padding: 0.5rem;
    border: 1px solid rgb(var(--md-sys-color-outline-variant));
}