html.green-light {
    --md-sys-color-primary: 29, 107, 80;
    --md-sys-color-surface-tint: 29, 107, 80;
    --md-sys-color-on-primary: 255, 255, 255;
    --md-sys-color-primary-container: 167, 242, 208;
    --md-sys-color-on-primary-container: 0, 33, 21;
    --md-sys-color-secondary: 76, 99, 88;
    --md-sys-color-on-secondary: 255, 255, 255;
    --md-sys-color-secondary-container: 207, 233, 218;
    --md-sys-color-on-secondary-container: 9, 32, 23;
    --md-sys-color-tertiary: 62, 99, 116;
    --md-sys-color-on-tertiary: 255, 255, 255;
    --md-sys-color-tertiary-container: 193, 232, 252;
    --md-sys-color-on-tertiary-container: 0, 31, 42;
    --md-sys-color-error: 186, 26, 26;
    --md-sys-color-on-error: 255, 255, 255;
    --md-sys-color-error-container: 255, 218, 214;
    --md-sys-color-on-error-container: 65, 0, 2;
    --md-sys-color-background: 245, 251, 245;
    --md-sys-color-on-background: 23, 29, 26;
    --md-sys-color-surface: 245, 251, 245;
    --md-sys-color-on-surface: 23, 29, 26;
    --md-sys-color-surface-variant: 219, 229, 222;
    --md-sys-color-on-surface-variant: 64, 73, 68;
    --md-sys-color-outline: 112, 121, 115;
    --md-sys-color-outline-variant: 191, 201, 194;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 44, 50, 46;
    --md-sys-color-inverse-on-surface: 236, 242, 237;
    --md-sys-color-inverse-primary: 140, 213, 180;
    --md-sys-color-primary-fixed: 167, 242, 208;
    --md-sys-color-on-primary-fixed: 0, 33, 21;
    --md-sys-color-primary-fixed-dim: 140, 213, 180;
    --md-sys-color-on-primary-fixed-variant: 0, 81, 58;
    --md-sys-color-secondary-fixed: 207, 233, 218;
    --md-sys-color-on-secondary-fixed: 9, 32, 23;
    --md-sys-color-secondary-fixed-dim: 179, 204, 190;
    --md-sys-color-on-secondary-fixed-variant: 53, 75, 65;
    --md-sys-color-tertiary-fixed: 193, 232, 252;
    --md-sys-color-on-tertiary-fixed: 0, 31, 42;
    --md-sys-color-tertiary-fixed-dim: 166, 204, 223;
    --md-sys-color-on-tertiary-fixed-variant: 37, 75, 91;
    --md-sys-color-surface-dim: 214, 219, 214;
    --md-sys-color-surface-bright: 245, 251, 245;
    --md-sys-color-surface-container-lowest: 255, 255, 255;
    --md-sys-color-surface-container-low: 239, 245, 239;
    --md-sys-color-surface-container: 234, 239, 234;
    --md-sys-color-surface-container-high: 228, 234, 228;
    --md-sys-color-surface-container-highest: 222, 228, 222;
}

html.green-light-medium-contrast {
    --md-sys-color-primary: 0, 77, 55;
    --md-sys-color-surface-tint: 29, 107, 80;
    --md-sys-color-on-primary: 255, 255, 255;
    --md-sys-color-primary-container: 56, 129, 101;
    --md-sys-color-on-primary-container: 255, 255, 255;
    --md-sys-color-secondary: 49, 71, 61;
    --md-sys-color-on-secondary: 255, 255, 255;
    --md-sys-color-secondary-container: 98, 122, 110;
    --md-sys-color-on-secondary-container: 255, 255, 255;
    --md-sys-color-tertiary: 33, 71, 87;
    --md-sys-color-on-tertiary: 255, 255, 255;
    --md-sys-color-tertiary-container: 84, 122, 139;
    --md-sys-color-on-tertiary-container: 255, 255, 255;
    --md-sys-color-error: 140, 0, 9;
    --md-sys-color-on-error: 255, 255, 255;
    --md-sys-color-error-container: 218, 52, 46;
    --md-sys-color-on-error-container: 255, 255, 255;
    --md-sys-color-background: 245, 251, 245;
    --md-sys-color-on-background: 23, 29, 26;
    --md-sys-color-surface: 245, 251, 245;
    --md-sys-color-on-surface: 23, 29, 26;
    --md-sys-color-surface-variant: 219, 229, 222;
    --md-sys-color-on-surface-variant: 60, 69, 64;
    --md-sys-color-outline: 88, 97, 92;
    --md-sys-color-outline-variant: 116, 125, 119;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 44, 50, 46;
    --md-sys-color-inverse-on-surface: 236, 242, 237;
    --md-sys-color-inverse-primary: 140, 213, 180;
    --md-sys-color-primary-fixed: 56, 129, 101;
    --md-sys-color-on-primary-fixed: 255, 255, 255;
    --md-sys-color-primary-fixed-dim: 26, 104, 77;
    --md-sys-color-on-primary-fixed-variant: 255, 255, 255;
    --md-sys-color-secondary-fixed: 98, 122, 110;
    --md-sys-color-on-secondary-fixed: 255, 255, 255;
    --md-sys-color-secondary-fixed-dim: 74, 97, 86;
    --md-sys-color-on-secondary-fixed-variant: 255, 255, 255;
    --md-sys-color-tertiary-fixed: 84, 122, 139;
    --md-sys-color-on-tertiary-fixed: 255, 255, 255;
    --md-sys-color-tertiary-fixed-dim: 59, 97, 113;
    --md-sys-color-on-tertiary-fixed-variant: 255, 255, 255;
    --md-sys-color-surface-dim: 214, 219, 214;
    --md-sys-color-surface-bright: 245, 251, 245;
    --md-sys-color-surface-container-lowest: 255, 255, 255;
    --md-sys-color-surface-container-low: 239, 245, 239;
    --md-sys-color-surface-container: 234, 239, 234;
    --md-sys-color-surface-container-high: 228, 234, 228;
    --md-sys-color-surface-container-highest: 222, 228, 222;
}

html.green-light-high-contrast {
    --md-sys-color-primary: 0, 40, 27;
    --md-sys-color-surface-tint: 29, 107, 80;
    --md-sys-color-on-primary: 255, 255, 255;
    --md-sys-color-primary-container: 0, 77, 55;
    --md-sys-color-on-primary-container: 255, 255, 255;
    --md-sys-color-secondary: 16, 38, 29;
    --md-sys-color-on-secondary: 255, 255, 255;
    --md-sys-color-secondary-container: 49, 71, 61;
    --md-sys-color-on-secondary-container: 255, 255, 255;
    --md-sys-color-tertiary: 0, 38, 51;
    --md-sys-color-on-tertiary: 255, 255, 255;
    --md-sys-color-tertiary-container: 33, 71, 87;
    --md-sys-color-on-tertiary-container: 255, 255, 255;
    --md-sys-color-error: 78, 0, 2;
    --md-sys-color-on-error: 255, 255, 255;
    --md-sys-color-error-container: 140, 0, 9;
    --md-sys-color-on-error-container: 255, 255, 255;
    --md-sys-color-background: 245, 251, 245;
    --md-sys-color-on-background: 23, 29, 26;
    --md-sys-color-surface: 245, 251, 245;
    --md-sys-color-on-surface: 0, 0, 0;
    --md-sys-color-surface-variant: 219, 229, 222;
    --md-sys-color-on-surface-variant: 29, 38, 33;
    --md-sys-color-outline: 60, 69, 64;
    --md-sys-color-outline-variant: 60, 69, 64;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 44, 50, 46;
    --md-sys-color-inverse-on-surface: 255, 255, 255;
    --md-sys-color-inverse-primary: 176, 252, 217;
    --md-sys-color-primary-fixed: 0, 77, 55;
    --md-sys-color-on-primary-fixed: 255, 255, 255;
    --md-sys-color-primary-fixed-dim: 0, 52, 36;
    --md-sys-color-on-primary-fixed-variant: 255, 255, 255;
    --md-sys-color-secondary-fixed: 49, 71, 61;
    --md-sys-color-on-secondary-fixed: 255, 255, 255;
    --md-sys-color-secondary-fixed-dim: 27, 49, 39;
    --md-sys-color-on-secondary-fixed-variant: 255, 255, 255;
    --md-sys-color-tertiary-fixed: 33, 71, 87;
    --md-sys-color-on-tertiary-fixed: 255, 255, 255;
    --md-sys-color-tertiary-fixed-dim: 3, 49, 64;
    --md-sys-color-on-tertiary-fixed-variant: 255, 255, 255;
    --md-sys-color-surface-dim: 214, 219, 214;
    --md-sys-color-surface-bright: 245, 251, 245;
    --md-sys-color-surface-container-lowest: 255, 255, 255;
    --md-sys-color-surface-container-low: 239, 245, 239;
    --md-sys-color-surface-container: 234, 239, 234;
    --md-sys-color-surface-container-high: 228, 234, 228;
    --md-sys-color-surface-container-highest: 222, 228, 222;
}

html.green-dark {
    --md-sys-color-primary: 140, 213, 180;
    --md-sys-color-surface-tint: 140, 213, 180;
    --md-sys-color-on-primary: 0, 56, 39;
    --md-sys-color-primary-container: 0, 81, 58;
    --md-sys-color-on-primary-container: 167, 242, 208;
    --md-sys-color-secondary: 179, 204, 190;
    --md-sys-color-on-secondary: 31, 53, 43;
    --md-sys-color-secondary-container: 53, 75, 65;
    --md-sys-color-on-secondary-container: 207, 233, 218;
    --md-sys-color-tertiary: 166, 204, 223;
    --md-sys-color-on-tertiary: 8, 53, 68;
    --md-sys-color-tertiary-container: 37, 75, 91;
    --md-sys-color-on-tertiary-container: 193, 232, 252;
    --md-sys-color-error: 255, 180, 171;
    --md-sys-color-on-error: 105, 0, 5;
    --md-sys-color-error-container: 147, 0, 10;
    --md-sys-color-on-error-container: 255, 218, 214;
    --md-sys-color-background: 15, 21, 18;
    --md-sys-color-on-background: 222, 228, 222;
    --md-sys-color-surface: 15, 21, 18;
    --md-sys-color-on-surface: 222, 228, 222;
    --md-sys-color-surface-variant: 64, 73, 68;
    --md-sys-color-on-surface-variant: 191, 201, 194;
    --md-sys-color-outline: 137, 147, 141;
    --md-sys-color-outline-variant: 64, 73, 68;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 222, 228, 222;
    --md-sys-color-inverse-on-surface: 44, 50, 46;
    --md-sys-color-inverse-primary: 29, 107, 80;
    --md-sys-color-primary-fixed: 167, 242, 208;
    --md-sys-color-on-primary-fixed: 0, 33, 21;
    --md-sys-color-primary-fixed-dim: 140, 213, 180;
    --md-sys-color-on-primary-fixed-variant: 0, 81, 58;
    --md-sys-color-secondary-fixed: 207, 233, 218;
    --md-sys-color-on-secondary-fixed: 9, 32, 23;
    --md-sys-color-secondary-fixed-dim: 179, 204, 190;
    --md-sys-color-on-secondary-fixed-variant: 53, 75, 65;
    --md-sys-color-tertiary-fixed: 193, 232, 252;
    --md-sys-color-on-tertiary-fixed: 0, 31, 42;
    --md-sys-color-tertiary-fixed-dim: 166, 204, 223;
    --md-sys-color-on-tertiary-fixed-variant: 37, 75, 91;
    --md-sys-color-surface-dim: 15, 21, 18;
    --md-sys-color-surface-bright: 53, 59, 55;
    --md-sys-color-surface-container-lowest: 10, 15, 13;
    --md-sys-color-surface-container-low: 23, 29, 26;
    --md-sys-color-surface-container: 27, 33, 30;
    --md-sys-color-surface-container-high: 37, 43, 40;
    --md-sys-color-surface-container-highest: 48, 54, 51;
}

html.green-dark-medium-contrast {
    --md-sys-color-primary: 144, 218, 185;
    --md-sys-color-surface-tint: 140, 213, 180;
    --md-sys-color-on-primary: 0, 27, 17;
    --md-sys-color-primary-container: 86, 158, 128;
    --md-sys-color-on-primary-container: 0, 0, 0;
    --md-sys-color-secondary: 183, 209, 194;
    --md-sys-color-on-secondary: 4, 26, 18;
    --md-sys-color-secondary-container: 126, 150, 137;
    --md-sys-color-on-secondary-container: 0, 0, 0;
    --md-sys-color-tertiary: 170, 208, 228;
    --md-sys-color-on-tertiary: 0, 25, 35;
    --md-sys-color-tertiary-container: 113, 150, 168;
    --md-sys-color-on-tertiary-container: 0, 0, 0;
    --md-sys-color-error: 255, 186, 177;
    --md-sys-color-on-error: 55, 0, 1;
    --md-sys-color-error-container: 255, 84, 73;
    --md-sys-color-on-error-container: 0, 0, 0;
    --md-sys-color-background: 15, 21, 18;
    --md-sys-color-on-background: 222, 228, 222;
    --md-sys-color-surface: 15, 21, 18;
    --md-sys-color-on-surface: 247, 252, 247;
    --md-sys-color-surface-variant: 64, 73, 68;
    --md-sys-color-on-surface-variant: 195, 205, 198;
    --md-sys-color-outline: 156, 165, 159;
    --md-sys-color-outline-variant: 124, 133, 127;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 222, 228, 222;
    --md-sys-color-inverse-on-surface: 37, 43, 40;
    --md-sys-color-inverse-primary: 0, 83, 59;
    --md-sys-color-primary-fixed: 167, 242, 208;
    --md-sys-color-on-primary-fixed: 0, 21, 12;
    --md-sys-color-primary-fixed-dim: 140, 213, 180;
    --md-sys-color-on-primary-fixed-variant: 0, 63, 44;
    --md-sys-color-secondary-fixed: 207, 233, 218;
    --md-sys-color-on-secondary-fixed: 1, 21, 13;
    --md-sys-color-secondary-fixed-dim: 179, 204, 190;
    --md-sys-color-on-secondary-fixed-variant: 37, 59, 49;
    --md-sys-color-tertiary-fixed: 193, 232, 252;
    --md-sys-color-on-tertiary-fixed: 0, 19, 28;
    --md-sys-color-tertiary-fixed-dim: 166, 204, 223;
    --md-sys-color-on-tertiary-fixed-variant: 17, 59, 74;
    --md-sys-color-surface-dim: 15, 21, 18;
    --md-sys-color-surface-bright: 53, 59, 55;
    --md-sys-color-surface-container-lowest: 10, 15, 13;
    --md-sys-color-surface-container-low: 23, 29, 26;
    --md-sys-color-surface-container: 27, 33, 30;
    --md-sys-color-surface-container-high: 37, 43, 40;
    --md-sys-color-surface-container-highest: 48, 54, 51;
}

html.green-dark-high-contrast {
    --md-sys-color-primary: 237, 255, 244;
    --md-sys-color-surface-tint: 140, 213, 180;
    --md-sys-color-on-primary: 0, 0, 0;
    --md-sys-color-primary-container: 144, 218, 185;
    --md-sys-color-on-primary-container: 0, 0, 0;
    --md-sys-color-secondary: 237, 255, 244;
    --md-sys-color-on-secondary: 0, 0, 0;
    --md-sys-color-secondary-container: 183, 209, 194;
    --md-sys-color-on-secondary-container: 0, 0, 0;
    --md-sys-color-tertiary: 247, 251, 255;
    --md-sys-color-on-tertiary: 0, 0, 0;
    --md-sys-color-tertiary-container: 170, 208, 228;
    --md-sys-color-on-tertiary-container: 0, 0, 0;
    --md-sys-color-error: 255, 249, 249;
    --md-sys-color-on-error: 0, 0, 0;
    --md-sys-color-error-container: 255, 186, 177;
    --md-sys-color-on-error-container: 0, 0, 0;
    --md-sys-color-background: 15, 21, 18;
    --md-sys-color-on-background: 222, 228, 222;
    --md-sys-color-surface: 15, 21, 18;
    --md-sys-color-on-surface: 255, 255, 255;
    --md-sys-color-surface-variant: 64, 73, 68;
    --md-sys-color-on-surface-variant: 244, 253, 246;
    --md-sys-color-outline: 195, 205, 198;
    --md-sys-color-outline-variant: 195, 205, 198;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 222, 228, 222;
    --md-sys-color-inverse-on-surface: 0, 0, 0;
    --md-sys-color-inverse-primary: 0, 49, 33;
    --md-sys-color-primary-fixed: 171, 246, 212;
    --md-sys-color-on-primary-fixed: 0, 0, 0;
    --md-sys-color-primary-fixed-dim: 144, 218, 185;
    --md-sys-color-on-primary-fixed-variant: 0, 27, 17;
    --md-sys-color-secondary-fixed: 211, 237, 222;
    --md-sys-color-on-secondary-fixed: 0, 0, 0;
    --md-sys-color-secondary-fixed-dim: 183, 209, 194;
    --md-sys-color-on-secondary-fixed-variant: 4, 26, 18;
    --md-sys-color-tertiary-fixed: 200, 236, 255;
    --md-sys-color-on-tertiary-fixed: 0, 0, 0;
    --md-sys-color-tertiary-fixed-dim: 170, 208, 228;
    --md-sys-color-on-tertiary-fixed-variant: 0, 25, 35;
    --md-sys-color-surface-dim: 15, 21, 18;
    --md-sys-color-surface-bright: 53, 59, 55;
    --md-sys-color-surface-container-lowest: 10, 15, 13;
    --md-sys-color-surface-container-low: 23, 29, 26;
    --md-sys-color-surface-container: 27, 33, 30;
    --md-sys-color-surface-container-high: 37, 43, 40;
    --md-sys-color-surface-container-highest: 48, 54, 51;
}